body {
  background-color: rgb(47, 79, 79);
}

h1 {
  color: rgb(169, 169, 169);
  font-family: courier;
}
h4 {
  color: rgb(169, 169, 169);
  font-family: courier;
}

p {
  font-family: courier;
  font-size: 20px;
  color: rgb(255, 250, 240);
}

#myId{
	color: rgb(169, 169, 169);
 	font-family: courier;
 	font-size: 18px;
}

input {
	border: none;
 	border-bottom: 2px solid rgb(169, 169, 169);
 	background-color: rgb(47, 79, 79);

}
input[type=button], input[type=submit], input[type=reset] {
 	background-color: rgb(169, 169, 169);
 	border: none;
 	color: rgb(47, 79, 79);
   	font-family: courier;
	font-size: 18px;
 	padding: 16px 32px;
 	text-decoration: none;
 	margin: 10px 5px;
 	cursor: pointer;
  }