<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable-no, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a User</title>

    <!--Styles -->
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
</head>
<body>
<h1>Add user:</h1>
<form class="user-form" method="POST" action="/adduser">
    {{ form.hidden_tag() }}
    <div class="user-form-group">
        <h1 class="myClass" id=myId>{{ form.first_name.label }}: </h1>
        {{ form.first_name }}
        {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
                <p class="user-error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="user-form-group">
        <h1 class="myClass" id=myId>{{ form.age.label }}: </h1>
        {{ form.age }}
        {% if form.age.errors %}
            {% for error in form.age.errors %}
                <p class="user-error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="user-form-submit">
        {{ form.submit }}
    </div>
</form>
</body>
</html>